In [1]:
import pandas as pd
import json

input_file = './data.csv'

df = pd.read_csv(input_file)

In [2]:
df[0:10]

   Person Id Floor Access DateTime  Floor Level Building
0          1          10/1/15 8:02            6        B
1          2          10/1/15 8:02            5        C
2          3          10/1/15 8:03            1        C
3          4          10/1/15 8:04            9        A
4          5          10/1/15 8:04            6        B
5          6          10/1/15 8:07           10        A
6          7          10/1/15 8:07            9        C
7          8          10/1/15 8:07            9        B
8          9          10/1/15 8:07           10        C
9         10          10/1/15 8:14            4        B

In [3]:
df.dtypes

Person Id                 int64
Floor Access DateTime    object
Floor Level               int64
Building                 object
dtype: object

In [4]:
df['Person Id'] = df['Person Id'].apply(str)
df['Floor Access DateTime'] = pd.to_datetime(df['Floor Access DateTime']) 
df.dtypes

Person Id                        object
Floor Access DateTime    datetime64[ns]
Floor Level                       int64
Building                         object
dtype: object

In [6]:
df[0:10]

  Person Id Floor Access DateTime  Floor Level Building
0         1   2015-10-01 08:02:00            6        B
1         2   2015-10-01 08:02:00            5        C
2         3   2015-10-01 08:03:00            1        C
3         4   2015-10-01 08:04:00            9        A
4         5   2015-10-01 08:04:00            6        B
5         6   2015-10-01 08:07:00           10        A
6         7   2015-10-01 08:07:00            9        C
7         8   2015-10-01 08:07:00            9        B
8         9   2015-10-01 08:07:00           10        C
9        10   2015-10-01 08:14:00            4        B

In [5]:
data_dict = json.loads(df.to_json(index=False, orient='table'))

del data_dict['schema']['pandas_version']

with open('./result.json', 'w') as fp:
    json.dump(data_dict, fp)